  nav{
        padding:0;
        text-align: right;
        margin:0;
      }
.navlink{
        padding: 3px;
        margin: 3px;
        font-size: 20px;
        color: white;
        font-weight: 700px;

      }
    
  table{
  	border:1px solid black;
    margin-top: 3px;

  }

  .sidebar{
    width:20%;
    
    background-color:#f4f4f4;
    
  }
input{
  padding: 5px;
  width: 100;
}
#button{
  padding: 2px;
  margin-top: 10px;
  width: 100px;
  margin-left: 40px;
  cursor: pointer;
}
#login{
  margin-left: 40px;
}
label{
margin-bottom: 10px;
}
.widget_list{
  font-size: 20px;
  list-style-type: none;
  text-align: center;
border: 1px solid black;
margin:10px;
color: white;
}
a{
  text-decoration: none;
  color:black;
}
.users_count{
  background-color: aliceblue;
}
h2,h1{
  
  color: #000;
}
.article{
  width:80%;
   height:1000px
 }
 body{
  background-color: #fff;
 }
 .post_box{
      background-color: #fbf6f6;
    
    font-size:15px;
    width: 300px;
    margin: 0 auto;
    /*border-radius: 20px;*/
    width: initial;
 }
 .post_active{
  float: right;
  margin:5px;
  border: 1px solid black;
  height: 15px;
  color: white;
  width:10px;
  height:5px;
 }
.profile_pic{
  border: 1px solid #116573;
  width: 100px;
  height: 110px;
  float: right;
  margin: 10px;
}
 
 
